body, html {
  background: #f8f8f8;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  display: flex;
}

.col-2 {
  flex: 2;
}

.col-3 {
  flex: 3;
}

.col-4 {
  flex: 4;
}

.col-5 {
  flex: 5;
}

.col-6 {
  flex: 6;
}

.col-7 {
  flex: 7;
}

.col-8 {
  flex: 8;
}

strong, input {
  line-height: 2rem;
  font-size: 1;
  margin-bottom: .5rem;
}

button {
  background: #ddd;
  border-bottom: solid 1px #aaa;
  color: #000;
  border-radius: 3px;
  padding: .5rem 1.5rem;
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  color: #999999;
  font-weight: normal;
}

.margin-bottom-2 {
  margin-bottom: 2rem;
}

.text-right {
  text-align: right;
}

.App {
  max-width: 210mm;
  background: #ffffff;
  box-shadow: 0 0 2px rgba(0,0,0,0.3);
  min-height: 200px;
  margin: auto;
  padding: 1rem;
}

.Header .fromCompany {
  font-size: 1.5rem;
}

.Header .invoice-heading {
  font-size: 2rem;
  color: #ccc;
  text-align: right;
  
}

.Header textarea,
.Header input,
.Body textarea,
.Body input,
.Footer textarea,
.Footer input {
  width: 100%;
  box-sizing: border-box;
  border: none;
  border: dotted 2px #eee;
}

.Header input[type=date] {
  font-size: 1;
}

.Footer textarea {
  text-align: center;
  width: auto;
  margin: auto;
  display: flex;
  min-width: 600px;
}

textarea:hover, input:hover,
textarea:focus, input:focus {
  border: solid 2px #eee;
  outline: none;
}

.Footer .footerSignoff {
  font-weight: bold;
  font-size: 1rem;
}

.Body input {
  /* border: solid 1px #333; */
}

.Body input[type=number]::-webkit-inner-spin-button, 
.Body input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

@media print {
  .Footer {
    position: absolute;
    bottom: 0;
  }
  .App {
    border: none !important;
    background: none;
    box-shadow: none;
    padding: 0;
    width: 100%;
    max-width: 100% !important;
  }
  input, textarea {
    border: none !important;
    resize: none;
  }

  .Body input {
    border: solid 1px #eee !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: none !important;
  }
  .hide-on-print {
    display: none;
  }
}